SUPERSET_VERSION=latest
POSTGRES_VERSION=16-alpine
SUPERSET_PIP_PACKAGES=psycopg2-binary redis gevent openpyxl
SUPERSET_SECRET_KEY=be2206fbc1e26b61c76281d6486170eb4939610393ee38253cc626ffe1c7fa660798129ef4703c9447f73d153b4ea343
POSTGRES_PASSWORD=c18f29fab54bca03c6336522cb632970c86dcf531aef7ce19862e26837f777d111e48db4dcdede0015e5f73c5786edd8
POSTGRES_SYNC_PASSWORD=true
# Optional advanced override. Leave unset for normal Coolify deployments.
# SUPERSET_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://superset:password@db:5432/superset
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Kutraa1213
ADMIN_EMAIL=admin@example.com
SUPERSET_RESET_ADMIN_PASSWORD=true
POSTGRES_DB=superset
POSTGRES_USER=superset
PREFERRED_URL_SCHEME=https
SESSION_COOKIE_SECURE=true
SUPERSET_LOAD_EXAMPLES=no
