SUPERSET_VERSION=latest
SUPERSET_PIP_PACKAGES=psycopg2-binary redis gevent openpyxl
SUPERSET_SECRET_KEY=replace-with-openssl-rand-base64-42
POSTGRES_PASSWORD=replace-with-a-strong-postgres-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-strong-admin-password
ADMIN_EMAIL=admin@example.com
POSTGRES_DB=superset
POSTGRES_USER=superset
PREFERRED_URL_SCHEME=https
SESSION_COOKIE_SECURE=true
SUPERSET_LOAD_EXAMPLES=no
